<div id="{{ set.prefix ~}}-footer-wrp">
    <div id="{{ set.prefix ~}}-footer">
        <p class="white-text copyright">&copy; {{now "%Y"}} {{ set.companyName ~}}. All rights reserved. {{{ set.developerLink }}}</p>
        <div class="clear"></div>
    </div>
</div>