<div id="{{ settings.prefix ~}}-footer-wrp">
    <div id="{{ settings.prefix ~}}-footer">
        <p class="white-text copyright">&copy; {{now "%Y"}} {{ settings.companyName ~}}. All rights reserved. {{{ settings.developerLink }}}</p>
        <div class="clear"></div>
    </div>
</div>